body {
    
    overflow-x: hidden;
    
    margin: 0;
    background-color: #1a1a1a;
    color: white;
}

#contrast {
    position: absolute;
	/* z-index: 100;
	display:block;
    border: 1px white solid;

    height: 100px;
	width: 200px;
    
    visibility: hidden; */
    backdrop-filter: blur(3px);
    opacity: 1;
    width: 35rem;
    height: 15rem;
    background-color: #f8f3ebbb;
    border: 3px red solid;
    /* background-color: #3247A2; */
    border-radius: 0.5rem;
    
    visibility: hidden;
    
    display: flex;
    flex-direction: column;

    /* transition: all 0.3s ease-out; */
    transition: transform 0.5s;
}

#info {
	position: absolute;
	/* z-index: 100;
	display:block;
    border: 1px white solid;

    height: 100px;
	width: 200px;
    
    visibility: hidden; */
    backdrop-filter: blur(3px);
    opacity: 1;
    width: 35rem;
    height: 15rem;
    background-color: #f8f3ebbb;
    /* border: 3px #935f4c solid; */
    border: 3px lightgreen solid;
    /* background-color: #3247A2; */
    border-radius: 0.5rem;
    
    visibility: hidden;
    
    display: flex;
    flex-direction: column;

    /* transition: all 0.3s ease-out; */
    transition: transform 0.5s;
}

#modal-bg {
    width: 100%;
    height: 100%;
    position: absolute;

    background-color: rgba(0,0,0,0.7);

    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#box {
    opacity: 1;
    width: 40rem;
    height: 25rem;
    background-color: white;
    border-radius: 0.5rem;
    
    visibility: hidden;
    
    display: flex;
    flex-direction: column;
}

#heading {
    display: flex;
    justify-content: end;
    height: 5%;
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
    /* margin: 1rem; */
}

#content>img {
    margin: 2rem;
    border-radius: 0.5rem;
}

#news {
    margin: 1rem;
    color: #1b1821;
}

#button {
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
}

#button:hover {
    background-color: rgba(0,0,0,0.3);
}

.up {
    animation: up .5s ease;
}

@keyframes up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}


.zoom {    
    /* transition: width 1s, height 1s; */  
    animation: pop-out .5s ease;
}

/* Define the animation keyframes */
@keyframes pop-out {
    0% {
      transform: translate(-50%, -50%) scale(0);
    }
    100% {
      transform: translate(0, 0%) scale(1);
    }
}

.b {
    border: 1px white solid;
}

.recommandation {
    border: 1px white solid;
}

.news-container {
    display: flex;
    justify-content: space-around;
}

.news {
    width: 33%;
}

.entailment {
    border: 2px solid green;
}

.contradiction {
    border: 2px solid red;
}

.neutral {
    border: 2px solid gray;
}

#recommended-subjects {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.subject:hover {
    cursor: pointer;
}

.nav {
    height: 3rem;
    display: flex;
    justify-content: start;
    
    background-color: #ccc;

    padding: 20px 0;
}

.sphere {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background-color: aqua;
    border-radius: 0.2rem;
    width: 4rem;
    height: 3rem;

    display: flex;
    justify-content: center;
}

.sphere:hover {
    cursor: pointer;
}

.nav>p {
    margin: 0 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
}

.searchbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-word {
    width: 50%;
    height: 40px;
    margin-right: 30px;
}

.header {
    display: flex;
    justify-content: center;
}

#news-container {
    width: 70%;
}

.news-card {
    margin-bottom: 20px;
    border: 1px white solid;
    display: flex;
}

.news {
    width: 100%;
}

.check-box {
    margin-top: 10px;
    padding: 5px;
}

.check-box:hover {
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: start;
    margin: 20px 250px;
    height: 100%;
    width: 80%;
}

.news-title {
    font-size: 30px;
    padding: 5px 5px;
    font-weight: bold;
}

.news-content {
    padding: 10px 5px;
}

.result-cnt {
    font-weight: bold;
    padding-bottom: 20px;
}

#search-icon {
    border: 1px solid white;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 1px gray;
    background-color: white;
}
#search-icon :hover {
    cursor: pointer;
}

#search-icon >svg{
    width: 30px;
    height: 30px;
    margin: 5px;
}

.check-box > svg {
    width: 30px;
    height: 30px;
}

.zoom-icon {
    position: relative;
    top: 200px;
    left: 347px;
    right: 0;
    background-color: white;
    
    width: 40px;
    height: 40px;

    box-shadow: 1px 1px 1px gray;
}

.zoom-icon:hover {
    cursor: pointer;
}

.zoom-icon>svg {
    padding: 5px;
    width: 30px;
    height: 30px;
}

#app {
    position: fixed;
    top: 200px;
    right: 3rem;
}

/* #app>canvas {
    
    position: relative;
    left: 0;
    top: 0;
} */

#app > canvas:hover {
    cursor: pointer;

    transition: all 0.3s ease;
    transform: scale(1.1, 1.1);
}